# Готовый проект можно посмотреть по ссылке: https://drive.google.com/drive/u/3/folders/1t7rP_dHwAV5Efut1YHTrFLxCv0ujdXIQ

Здесь находится только код

In [1]:
import pandas as pd
from scipy import stats as st

In [2]:
non_paying = pd.read_excel('Empires & Puzzles Non-Paying.xlsx') 
paying = pd.read_excel('Empires & Puzzles Whale.xlsx')

# Кол-во сессий в рамках дня

In [3]:
non_paying_ses = non_paying[['Day', 'Session']]
paying_ses = paying[['Day', 'Session']]

In [4]:
nps = non_paying_ses.drop_duplicates(keep='last')
non_paying_ses = nps.groupby('Day')[['Session']].count()
non_paying_ses

     Session
Day
1          2
2          3
3          3
4          3
5          3
6          3
7          3
8          3
9          3
10         3
11         3
12         3
13         3
14         3

In [5]:
ps = paying_ses.drop_duplicates(keep='last')
paying_ses = ps.groupby('Day')[['Session']].count()
paying_ses

     Session
Day
1          3
2          4
3          3
4          3
5          3
6          1
7          3
8          2
9          2
10         2
11         2
12         2
13         3
14         2

# Вывод:
у платящего и неплатящего игроков примерно одинаковое количество сессий в день

# Средняя продолжительность сессии

In [6]:
npt = non_paying[['Session', 'Videolength']]
non_paying_time = npt.drop_duplicates(keep='last')

non_paying_time['Videolength'] = pd.to_timedelta(non_paying_time['Videolength'].astype(str))
non_paying_time['sec'] = non_paying_time.Videolength.dt.seconds
non_paying_time.sec.mean()

<ipython-input-6-3f04a67a514f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_paying_time['Videolength'] = pd.to_timedelta(non_paying_time['Videolength'].astype(str))
<ipython-input-6-3f04a67a514f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_paying_time['sec'] = non_paying_time.Videolength.dt.seconds

2803.0227272727275

In [7]:
pt = paying[['Session', 'Videolength']]
paying_time = pt.drop_duplicates(keep='last')

paying_time['Videolength'] = pd.to_timedelta(paying_time['Videolength'].astype(str))
paying_time['sec'] = paying_time.Videolength.dt.seconds
paying_time.sec.mean()

<ipython-input-7-53c8cfab9fec>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paying_time['Videolength'] = pd.to_timedelta(paying_time['Videolength'].astype(str))
<ipython-input-7-53c8cfab9fec>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  paying_time['sec'] = paying_time.Videolength.dt.seconds

2372.5576923076924

# Вывод:
у платящего игрока сессии в среднем немного короче, чем у неплатящего

# Процент поражений

In [8]:
non_paying_battle = non_paying[['Tag', 'Action']]
non_paying_battle = non_paying_battle.loc[non_paying_battle['Tag'] == 'Campaign']
non_paying_battle = non_paying_battle.loc[non_paying_battle['Action'] == 'Finish Battle']
non_paying_battle_count = non_paying_battle.count()

In [9]:
non_paying_defeat = non_paying[['Tag', 'Action', 'Result']]
non_paying_defeat = non_paying_defeat.loc[non_paying_defeat['Tag'] == 'Campaign']
non_paying_defeat = non_paying_defeat.loc[non_paying_defeat['Action'] == 'Finish Battle']
non_paying_defeat = non_paying_defeat.loc[non_paying_defeat['Result'] == 'Defeat']
non_paying_defeat_count = non_paying_defeat.count()

In [10]:
non_paying_per = non_paying_defeat_count / non_paying_battle_count * 100
non_paying_per

Action    22.685185
Result          NaN
Tag       22.685185
dtype: float64

In [11]:
paying_battle = paying[['Tag', 'Action']]
paying_battle = paying_battle.loc[paying_battle['Tag'] == 'Campaign']
paying_battle = paying_battle.loc[paying_battle['Action'] == 'Finish Battle']
paying_battle_count = paying_battle.count()

In [12]:
paying_defeat = paying[['Tag', 'Action', 'Result']]
paying_defeat = paying_defeat.loc[paying_defeat['Tag'] == 'Campaign']
paying_defeat = paying_defeat.loc[paying_defeat['Action'] == 'Finish Battle']
paying_defeat = paying_defeat.loc[paying_defeat['Result'] == 'Defeat']
paying_defeat_count = paying_defeat.count()

In [13]:
paying_per = paying_defeat_count / paying_battle_count * 100
paying_per

Action    1.395349
Result         NaN
Tag       1.395349
dtype: float64

# Вывод:
платящий игрок проигрывает реже, так как имеет возможность приобретать необходимые для победы ресурсы

# Строительство зданий

In [14]:
non_paying_building = non_paying[['Day', 'Tag', 'Action']]
non_paying_building = non_paying_building.loc[non_paying_building['Tag'] == 'Building']
non_paying_building = non_paying_building.loc[non_paying_building['Action'] == 'Finish']
non_paying_building.groupby('Day')[['Action']].count()

     Action
Day
1        30
2        15
3         5
4        11
5         7
6         4
7        10
8         8
9         4
10        4
11        3
12        3
13        4
14       11

In [15]:
paying_building = paying[['Day', 'Tag', 'Action']]
paying_building = paying_building.loc[paying_building['Tag'] == 'Building']
paying_building = paying_building.loc[paying_building['Action'] == 'Finish']
paying_building.groupby('Day')[['Action']].count()

     Action
Day
1        46
2        27
3        12
4         9
5        19
6         4
7        18
8        11
9         7
10       12
11        6
12        4
13        6
14        3

# Вывод:
платящий игрок чаще завершает строительство зданий

# Статистическая значимость

Н0: у неплатящего игрока столько же сессий в день, сколько и у платящего   
Н1: у неплатящего игрока больше или меньше сессий в день, чем у платящего

In [16]:
alpha = 0.05

result = st.ttest_ind(non_paying_ses['Session'], paying_ses['Session'], equal_var=False)
print(result)
if (result.pvalue < alpha):
    print('Отвергаем нулевую гипотезу')
else:
    print('Не отвергаем нулевую гипотезу')

Ttest_indResult(statistic=1.9915073926338438, pvalue=0.0635942703899652)
Не отвергаем нулевую гипотезу